<%#
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
%>
<% INCLUDE header.tt %>
    <% FOREACH article IN blog.get_last_articles(10) %>
    <div class="docs-section">
      <h8 class="docs-header"><a class="docs-header-link" href="/articles/<% article.date %>"><% article.title %></a></h8>
      <p><% article.author %> | <% article.date %> | Last updated: <% article.timestamp %></p>
      <p style="white-space: pre-line; font-size: 1.4em"><i>"<% article.summary %>"</i></p>
<% INCLUDE social.tt %>
    </div>
    <% END %> 
<% INCLUDE footer.tt %>
